<footer class="bg-secondary text-center text-lg-start mt-4 py-3 border-top">
    <div class="container text-center">
        <span class="text-light fs-4 lobster-regular">© 2025 Librería de Jean. Todos los derechos reservados.</span>
    </div>
</footer>