<header>
    <div class="bg-secondary pb-3">
        <div class="d-flex justify-content-center align-items-center pt-5 pb-2 text-light">
            <i class="bi bi-three-dots display-2"></i>
            <h1 class="display-2 fw-bold lobster-regular"> Librería de Jean </h1>
            <i class="bi bi-three-dots display-2"></i> 
        </div> 
    </div>
</header>