<main class="container-xxl py-5">
    <section class="w-75 border border-5 rounded-4 mx-auto text-center p-5 bg-secondary-subtle">
        <h1><i class="bi bi-exclamation-circle text-danger"></i> {{ error.name }}</h1>
        <hr>
        <p class="fs-4">{{ error.message }}</p>
    </section>
</main>